.main-category-container{
    display: grid;
    grid-template-columns: 65% 35%;
    height: auto;
}
.category-container{
    width: 100%;
}


.category-container .articles-item:last-of-type{
    padding: 2rem 0 0;
}

@media screen and (min-width:890px) and (max-width:1210px){
    .main-category-container .side-contianer .top-posts-container{
        height: 60rem;
    }    
}

